* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html {
	background-color: hsl(217, 54%, 11%);
}
body {
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
}
main {
	height: 90vh;
}
.container {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 500px;
	background-color: hsl(216, 50%, 16%);
	border-radius: 15px;
}
.wrapper {
	position: relative;
	margin: 20px;
}
.image img {
	display: block;
	border-radius: 15px;
	width: 100%;
	height: auto;
}
.eye-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: hsl(178, 100%, 50%, 0.5);
	border-radius: 15px;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.5s;
	cursor: pointer;
}
.eye-icon:hover {
	opacity: 1;
}
.eye-icon img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 10%;
	height: auto;
}
.text {
	position: absolute;
	top: 280px;
	color: hsl(0, 0%, 100%);
}
.text h1 {
	display: inline;
	font-size: 20px;
	color: hsl(0, 0%, 100%);
	transition: color 0.5s;
	cursor: pointer;
}
.text h1:hover {
	color: hsl(178, 100%, 50%);
}
.text h2 {
	margin: 10px 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: hsl(215, 51%, 70%);
}
.text-icons {
	position: absolute;
	top: 370px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid hsl(215, 32%, 27%);
}
.price {
	display: flex;
	align-items: center;
	color: hsl(178, 100%, 50%);
	font-size: 14px;
}
.price img {
	width: 10px;
	margin: 0 5px 0 0;
}
.time {
	display: flex;
	align-items: center;
	color: hsl(215, 51%, 70%);
	font-weight: 300;
	font-size: 14px;
}
.time img {
	width: 15px;
	margin: 0 5px 0 0;
}
.text-avatar {
	position: absolute;
	top: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.text-avatar img {
	width: 12%;
	margin-right: 15px;
	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 50%;
}
.creator_text {
	color: hsl(0, 0%, 100%);
	transition: color 0.5s;
	cursor: pointer;
}
.creator_text:hover {
	color: hsl(178, 100%, 50%);
}
h3 {
	font-size: 14px;
	font-weight: 300;
	color: hsl(215, 51%, 70%);
}
footer {
	height: 10vh;
	text-align: center;
	color: hsl(0, 0%, 100%);
}
